[x] Use of templates
[x] Use of database (mongoose)
[ ] Use of express plugin libraries
[ ] User registration and session
[ ] - cookies and session
[ ] - hashing of passwords
[ ] - JSON Web Token
[ ] Error handling
Full CRUD (application specific)
- catalog (reading many)
- details (reading one)
- create 
- edit
- delete