[x] Use of templates (configure handlebars)
- templates for User, Login, Register, Logout
[x] Use of database (connection + user model)
[x] Use of express plugin libraries (middlewares)
- static
- cookie-parser
- body parser

[x] User registration 
- cookies and sessions 
- hashing of passwords 
- JSON Web Token

[x] Error handling

[ ] Full CRUD (Application specific)
- catalog
- details
- create
- edit
- delete

[x] Demo global error handling